<section class="project-list">
  <h2>Projects</h2>
  {% for project in site.data.settings.projects %}
    <div class="project-unit">
      <div class="project-content">
        <div class="project-text">
          <h4 class="project-title">{{ project.name }}</h4>
          {% if project.description %}
            <p class="project-description">{{ project.description }}</p>
          {% endif %}
          {% if project.tech %}
            <ul class="tech-list">
              {% for t in project.tech %}
                <li>{{ t }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="project-thumbnail">
          <a href="{{ site.github.url }}/projects/{{ project.url }}">
            <img src="{{ site.github.url }}/assets/img/projects/{{ project.url }}/icon.png" alt="Icon of {{ project.name }}">
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</section>
